.header-container {
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.856);
  height: 11.5vh;
}

.logo-container {
  width: 100%;
}

#logotipo {
  width: 70px;
  margin-top: 0.2%;
  margin-left: 20%;
  cursor: pointer;
}

#upload-img {
  display: none;
}

.send-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label-send-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  background: rgb(19,99,7);
  background: linear-gradient(228deg, rgb(109, 211, 93) 0%, rgba(35,168,48,1) 64%, rgb(47, 156, 41) 100%);
  width: 8em;
  height: 3em;
  border-radius: 8px;
  cursor: pointer;
}
.label-send-img:hover {
  background: rgb(13, 77, 4);
  background: linear-gradient(228deg, rgb(80, 175, 67) 60%, rgb(41, 145, 51) 80%, rgb(47, 156, 41) 100%);
}

.label-send-img > p{
  font-size: 1.5em;
}

.btn-send {
  background-color: green;
  border: none;
}

.material-icons {
  color: white;
  font-size: 2em;
}

#image-user {
  border: solid 2px rgb(21, 95, 12);
  width: 3em;
  border-radius: 10px;
  margin-right: 20px;
}


#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

#contact > a {
  width: 50px;
  text-align: center;
}

#contact > a > img {
  width: 100%;
}