.cards-main-container {
  width: 60%;
  background-color: rgba(8, 8, 8, 0.795);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.cards-container {
  display: flex;
  width: 100%;
  gap: 0.5%;
  justify-content: space-between;
  overflow: hidden;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card-image > img {
  width: 100%;
  object-fit: cover;
  height: calc(180px * 3 + 10px * 6);
}

