.cards-main-container {
  width: 80%;
  background-color: rgba(8, 8, 8, 0.795);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.cards-container {
  box-sizing: content-box;
  display: flex;
  width: 100%;
  gap: 0.5%;
  justify-content: space-between;
}

.card-image {
  display: flex;
  min-width: 33%;
  max-width: 60%;
  flex-direction: column;
}

.card-image > img {
  width: 100%;
  object-fit: cover;
  height: calc(140px * 2.5 + 10px * 3);
}

#Title-page {
  text-align: center;
  user-select: none;
  font-size: 4em;
  margin: 20px 0;
}