.cards-main-container {
  width: 80%;
  background-color: rgba(8, 8, 8, 0.795);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card-image > img {
  max-width: 98%;
  object-fit: cover;
  height: 55vh;
}
