.main-login {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-login {
  display: flex;
  border-radius: 10%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(8, 8, 8, 0.795);
  height: 90vh;
  width: 40vw;
}

.icon-login {
  user-select: none;
  max-width: 20%;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-inputs > input {
  border-radius: 10px;
  width: 50%;
  height: 70px;
  font-size: 2em;
  outline: none;
  border: none;
  text-align: center;
  margin: 0 auto;
}

.btn-user {
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 5px;
  width: 70%;
  font-weight: bold;
  border: 0;
  background: rgb(19,99,7);
  background: linear-gradient(228deg, rgb(109, 211, 93) 0%, rgba(35,168,48,1) 64%, rgb(47, 156, 41) 100%);
  font-size: 3em;
  letter-spacing: 5px;
}

.btn-user:hover {
  background: rgb(13, 77, 4);
  background: linear-gradient(228deg, rgb(80, 175, 67) 60%, rgb(41, 145, 51) 80%, rgb(47, 156, 41) 100%);
}

.btn-user:disabled {
  opacity: 0.5;
}